<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zb.mapper.HotelOrderMapper">

    <insert id="insertHotelOrder" parameterType="com.zb.pojo.HotelOrder">
        insert into hotel_order
        values (
                #{orderId},
                #{orderStatus},
                #{orderPrice},
                #{cashPledge},
                #{roomType}
        )

    </insert>
     <update id="updateHotelOrder" parameterType="com.zb.pojo.HotelOrder">
         update hotel_order
         set orderStatus=#{orderStatus}
         where orderId=#{orderId}
     </update>
    <select id="getHotelOrderById" resultType="com.zb.pojo.HotelOrder">
        select *
        from hotel_order
        where orderId=#{orderId}
    </select>
</mapper>